#newTamagotchi{
    display: none;
    grid-column-start: 3;
    justify-content: space-between;
    align-items: center;
}

#petname, #type, #submit{
    height: 40%;
    border-radius: 10px;
    border: 0px;
}

#navbar{
    width: 100vw;
    height: 100px;
    position: fixed;
    background-color: darkgray;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#new{
    grid-column-start: 2;
    height: 100%;
    border: 0px;
    border-radius: 10px;
    background-color: darkgray;
    
}

body{
    padding: 0px 0px;
    margin: 0px 0px
}

#title{
    grid-column-start: 1;
    text-align: center;
    padding: 30px;
    height: 100%;
    margin: 0px;
}

.navbarinput{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    padding-right: 5px;
}

#tamagotchiHolder{

    height: 100vh;
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

}

.parentDiv{

    border: 3px solid red;
    width: 30%;
    margin: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 50% 10% 20% 20%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.photo{
    max-height: 100%;
    max-width: 50%;
    grid-row-start: 1;
    align-self: center;
    justify-self: center;
}

.animalname{
    grid-row-start: 2;
    padding: 0px 15px;
}

.stats{
    grid-row-start: 3;
    padding: 0px 15px;
}

.buttons{
    grid-row-start: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    height: 40%;
    width: 20%;
    font-size: 15px;
}

